#include('./partial/header.html',{home_page:1})
<div class="home-banner"> 
    <h2>Striving for what you fascinate</h2>
    <h3>执迷所爱</h3>
    <img class="head-img" src="/static/admin/images/head-img.jpg">
</div>
<div class="main-content index-page clearfix">
    #include('./partial/author.html')
    <div class="post-lists">
        <div class="post-lists-body">
            #for(article : articles(6).rows)
            <div class="post-list-item" style="border-radius:15px;">
                <div class="post-list-item-container">
                    <div class="item-thumb bg-deepgrey" style="background-image:url(${show_thumb(article)}); width:93%;margin:0 auto"></div>
                    <a href="${permalink()}">
                        <div class="item-desc">
                            <p>${intro(75)}...</p>
                        </div>
                    </a>
<!--                     <div class="item-slant reverse-slant bg-deepgrey"></div> -->
                    #if(article.allowTop)
                    <div class="item-slant" >Top</div>
                    #end
                    <div class="item-label">
                        <div class="item-title"><a href="${permalink()}">${title()}</a>
                        </div>
                        <div class="item-meta ">
                            <div class="item-meta-ico ${show_icon()}"
                                 style="background: url(/templates/themes/default/static/img/bg-ico.png) no-repeat;background-size: 40px auto;">
                                ${show_categories()}
                            </div>
                            <p style="color:#989898">${created('yyyy/MM/dd')}</p>
                        </div>
                    </div>
                </div>
            </div>
            #end
        </div>
    </div>
    <div class="lists-navigator clearfix">
        #call pageNav(articles(6),'←','→','page')
    </div>
</div>
#include('./partial/footer.html')